.col1 {
  width: 5.3333333333%;
  margin: 1.5%;
}

.col2 {
  width: 13.6666666667%;
  margin: 1.5%;
}

.col3 {
  width: 22%;
  margin: 1.5%;
}

.col4 {
  width: 30.3333333333%;
  margin: 1.5%;
}

.col5 {
  width: 38.6666666667%;
  margin: 1.5%;
}

.col6 {
  width: 47%;
  margin: 1.5%;
}

.col7 {
  width: 55.3333333333%;
  margin: 1.5%;
}

.col8 {
  width: 63.6666666667%;
  margin: 1.5%;
}

.col9 {
  width: 72%;
  margin: 1.5%;
}

.col10 {
  width: 80.3333333333%;
  margin: 1.5%;
}

.col11 {
  width: 88.6666666667%;
  margin: 1.5%;
}

.col12 {
  width: 97%;
  margin: 1.5%;
}

.spacerSection {
  padding: 2% 0;
}

.space10 {
  margin-top: 10px;
}

.space20 {
  margin-top: 20px;
}

.space30 {
  margin-top: 30px;
}

.space40 {
  margin-top: 40px;
}

.space50 {
  margin-top: 50px;
}

.space60 {
  margin-top: 60px;
}

.space70 {
  margin-top: 70px;
}

.space80 {
  margin-top: 80px;
}

.space90 {
  margin-top: 90px;
}

.space100 {
  margin-top: 100px;
}

body {
  padding: 0;
  margin: 0;
}

h2, h3, h4, h5 {
  line-height: 140%;
}

h1 {
  line-height: 180%;
}

p {
  line-height: 160%;
}

* {
  padding: 0;
  margin: 0;
}

.spacer100 {
  margin: 150px 0 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-image: url("img/online-programming-course-hero-section-bg.svg");
  width: 100%;
  height: 740px;
  background-color: white;
}

.js {
  justify-content: center;
}

.herodes h1 {
  color: white;
  font-size: 3.1em;
}
.herodes p {
  color: rgb(211, 211, 211);
  font-size: 22px;
}
.herodes a {
  border: 1px solid #fe6b90;
  text-decoration: none;
  color: white;
  padding: 15px 40px;
  border-radius: 12px;
  background: #fe6b90;
  font-size: 19px;
}
.herodes img {
  margin: 10px;
}

.logo {
  text-decoration: none;
  color: white;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 21px;
}

.btn a {
  border: 1px solid #fe6b90;
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  border-radius: 12px;
  background: #fe6b90;
  font-size: 19px;
}

.big-fitur {
  display: flex;
  margin-right: 30px;
  gap: 40px;
  position: relative;
  bottom: 60px;
  left: 60px;
}

.color1 {
  background: #fffcf6 !important;
}

.fitur {
  display: flex;
  background-color: #effefb;
  width: 320px;
  height: 100px;
  padding: 20px 50px;
  border: 1px solid #effefb;
  align-items: center;
  box-shadow: -3px 23px 16px 19px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: -3px 23px 16px 19px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -3px 23px 16px 19px rgba(0, 0, 0, 0.06);
}
.fitur img {
  overflow: hidden;
  width: 70px;
  margin-right: 20px;
}
.fitur .fitur-text {
  display: block;
  align-items: center;
}
.fitur .fitur-text h3 {
  font-size: 1.2em;
}

.js {
  justify-content: space-between;
}

.big-populer {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.populer {
  border: 1px solid #effefb;
  text-align: center;
  background-color: #effefb;
  padding: 40px 80px;
}
.populer img {
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.populer h2 {
  font-size: 1.6em;
}
.populer P {
  font-size: 1.4em;
  color: rgb(189, 189, 189);
}

.course {
  background-image: url("https://dreamslms.dreamguystech.com/assets/img/banner.png");
  background-size: cover;
  height: 1500px;
}

.course-des h3 {
  color: rgb(224, 53, 53);
  font-size: 21px;
}
.course-des h2 {
  font-size: 2.5em;
}
.course-des P {
  font-size: 1.5em;
}

.all-course a {
  border: 3px solid plum;
  padding: 20px 60px;
  border-radius: 30px;
}

.box1 {
  display: flex;
  align-items: center;
}
.box1 img {
  overflow: hidden;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.box {
  border: 1px solid white;
  background: white;
  width: 370px;
  padding: 40px;
}
.box span {
  color: orange;
  font-size: 21px;
}
.box a {
  border: 3px solid plum;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */